<ion-content [fullscreen]="true">
    <app-top-bar #topBar style="position: fixed ;z-index: 10;width: 100%"
    ></app-top-bar>
    <div [style.margin-top.px]="topBarHeight">


        <div class="ion-padding my-container">
            <ion-grid>
                <ion-row>
                    <ion-col size-sm="7" size="12" class="p-0">

                        blog detail

                        <div [innerHTML]="blogDetail | marked"></div>

<!--                        <div>{{blogDetail}}</div>-->
                    </ion-col>


                </ion-row>
            </ion-grid>
        </div>


    </div>
</ion-content>
