<ion-content [fullscreen]="true">
    <app-top-bar #topBar style="position: fixed ;z-index: 10;width: 100%"
    ></app-top-bar>
    <div [style.margin-top.px]="topBarHeight">


        <div class="ion-padding my-container">
            <ion-grid>
                <ion-row>
                    <ion-col class="p-0">

                        <mat-card>
                            <mat-card-header>
                                <div class="d-flex flex-row align-items-center">
                                    <img [src]="icon" alt="" class="small_img_icon_rounded mr-2">
                                    <div class="blog_author">{{author}}</div>
                                    <div class="mx-1">update:</div>
                                    <div class="blog_date mx-1">{{date| date:'short' }}</div>
                                    <mat-icon class="mr-5" [matBadge]="view"
                                              matBadgeColor="warn">
                                        visibility
                                    </mat-icon>


                                </div>
                                <!--                                <mat-card-title>{{header}}</mat-card-title>-->
                            </mat-card-header>
                            <mat-card-content>
                                <div class="ion-text-right">
                                    <app-type [text]="type"></app-type>
                                </div>

                                <h2 class="ion-text-center mb-3">{{header}}</h2>

                                <div [innerHTML]="blogDetail | marked"></div>


                            </mat-card-content>
                            <mat-chip-list aria-label="">
                                <mat-chip color="primary" selected
                                          *ngFor="let tag of tags"
                                >{{tag.name}}
                                </mat-chip>
                            </mat-chip-list>


                        </mat-card>


                        <!--                        <div>{{blogDetail}}</div>-->
                    </ion-col>


                </ion-row>
            </ion-grid>
        </div>


    </div>
</ion-content>
