<mat-card class="my-2">

    <div class="d-flex flex-row align-items-center blog_comment_author">
        <img [src]="icon" alt="" class="small_img_icon_rounded mr-2">
        <div class="">{{author}}</div>
        <div class=" mx-1">{{date| date:'short' }}</div>
        <a (click)="replyClick()">Reply</a>


    </div>

    <mat-card-content class="mt-1">
        {{content}}
    </mat-card-content>

</mat-card>

<div class="ml-5">

    <app-reply-item *ngFor="let comment of childComments" [author]="comment.name" [icon]="comment.icon" [date]="comment.date"
                    [content]="comment.content" [childComments]="comment.childrenComments" (replyClickEvent)="childreplyClick($event)"></app-reply-item>
</div>
