<ion-content [fullscreen]="true">
    <app-top-bar #topBar style="position: fixed ;z-index: 10;width: 100%"
    ></app-top-bar>
    <div [style.margin-top.px]="topBarHeight">


        <div class="ion-padding">
            <ion-grid>
                <ion-row>
                    <ion-col>
                        <mat-card class="d-flex flex-row justify-content-between mb-1">
                            <div class="title">Category</div>
                            <div><span>Total</span><span class="number">1</span><span>category</span></div>
                        </mat-card>

                        <mat-card>
                            <mat-chip-list aria-label="Fish selection">

                                <mat-chip color="accent" [selected]="category.selected" *ngFor="let category of categories" (click)="categoryClick(category)">{{category.name}}
                                </mat-chip>
                            </mat-chip-list>
                        </mat-card>

                    </ion-col>


                </ion-row>
            </ion-grid>
        </div>


    </div>
</ion-content>
