<mat-card class=" mt-2 p-0">
    <div matRipple class="p-2">
        <mat-card-content>
            <div class="blog_title">{{title}}</div>
            <div class="blog_brife my-3">{{brief}}</div>
            <ion-grid>
                <ion-row>
                    <ion-col size="8" class="p-0">
                        <div class="d-flex flex-row align-items-center">
                            <div class="blog_author">{{author}}</div>
                            <div class="blog_date mx-1">{{date| date:'shortDate' }}</div>
                            <mat-icon class="mr-5" [matBadge]="view"
                                      matBadgeColor="warn">
                                visibility
                            </mat-icon>
                        </div>
                    </ion-col>
                    <ion-col size="4" style="padding: 0">
                        <app-type [text]="tag"></app-type>
                    </ion-col>


                </ion-row>
            </ion-grid>

            <!--    <div class="row baby">
                    <div class="col-8" style="background: blue ;height: 30px;padding: 0" ></div>
                    <div class="col-4" style="background: red;height: 30px;padding: 0"></div>
                </div>-->


        </mat-card-content>
    </div>
</mat-card>
