<ion-app>

    <ion-content [fullscreen]="true">
        <mat-drawer-container class="example-container" style="height: 100%" autosize>
            <mat-drawer #drawer position="end" class="px-3">
                <!--                TODO menu-->

                I'm a drawer

            </mat-drawer>
            <mat-drawer-content>
                <div class="d-flex flex-column" style="height: 100%">
                    <app-admin-top-bar *ngIf="!displayMobileTopBar" ></app-admin-top-bar>

                    <p *ngIf="displayMobileTopBar">
                        <mat-toolbar color="primary">

                            <span>Blog</span>
                            <span style="margin-left: auto;"></span>
                            <button mat-icon-button class="example-icon"
                                    aria-label="Example icon-button with menu icon" (click)="drawer.toggle()">
                                <mat-icon>menu</mat-icon>
                            </button>
                            <span class="example-spacer"></span>

                        </mat-toolbar>
                    </p>


                    <ion-router-outlet class="flex-grow-1" style="position: static"></ion-router-outlet>
                </div>


            </mat-drawer-content>
        </mat-drawer-container>

    </ion-content>


</ion-app>
