<ion-app>
    <mat-drawer-container class="example-container" style="height: 100%" autosize>
        <mat-drawer #drawer position="end" mode="over" class="px-3">
            <!--                TODO menu-->
            <div class="d-flex flex-column">
                <app-icon-name [iconName]="tab1Icon" [text]="tab1Text" [active]="tab1Active$|async"
                               (click)="tab1Click()"></app-icon-name>
                <app-icon-name [iconName]="tab2Icon" [text]="tab2Text" [active]="tab2Active$|async"
                               (click)="tab2Click()"></app-icon-name>
                <app-icon-name [iconName]="tab3Icon" [text]="tab3Text" [active]="tab3Active$|async"
                               (click)="tab3Click()"></app-icon-name>
                <app-icon-name [iconName]="tab4Icon" [text]="tab4Text" [active]="tab4Active$|async"
                               (click)="tab4Click()"></app-icon-name>
                <app-icon-name [iconName]="tab5Icon" [text]="tab5Text" [active]="tab5Active$|async"
                               (click)="tab5Click()"></app-icon-name>

                <app-icon-name [iconName]="tab6Icon" [text]="tab6Text" [active]="tab6Active$|async"
                               (click)="tab6Click()"></app-icon-name>
            </div>


        </mat-drawer>
        <mat-drawer-content>


            <ion-router-outlet animated="false"></ion-router-outlet>


        </mat-drawer-content>
    </mat-drawer-container>


</ion-app>
<app-breeding-rhombus-spinner class="centered" *ngIf="isLoading$|async"
                              [animationDuration]="1000"
                              [size]="60"
                              [color]="'#ff1d5e'"
></app-breeding-rhombus-spinner>
