<ion-app>
    <ion-content [fullscreen]="true">
        <div class="d-flex flex-column">
            <!--  <h1>1</h1>
              <h1>2</h1>-->

            <ion-header [translucent]="true" *ngIf="displayMobileTopBar">
                <ion-toolbar>
                    <ion-buttons slot="start">
                        <ion-menu-button auto-hide="false"></ion-menu-button>
                    </ion-buttons>


                    <ion-title>Standard</ion-title>
                </ion-toolbar>
            </ion-header>


            <ion-router-outlet class="flex-grow-1"></ion-router-outlet>
        </div>
    </ion-content>


</ion-app>
