<!--
<div class="d-flex justify-content-start align-items-center top-bar-container">


  <h1 style="margin-bottom: 0">Admin</h1>
  &lt;!&ndash;  <span class="example-spacer"></span>&ndash;&gt;
  <app-icon-name [iconName]="tab1Icon" [text]="tab1Text" [active]="tab1Active"></app-icon-name>
  <app-icon-name [iconName]="tab2Icon" [text]="tab2Text" [active]="tab2Active"></app-icon-name>
  <app-icon-name [iconName]="tab3Icon" [text]="tab3Text" [active]="tab3Active"></app-icon-name>


</div>
-->

<mat-toolbar color="primary">
    <h1 style="margin-bottom: 0">Blog</h1>
    <!--  <span class="example-spacer"></span>-->
    <app-icon-name [iconName]="tab1Icon" [text]="tab1Text" [active]="tab1Active$|async" (click)="tabNameIconService.tab1Click()"></app-icon-name>
    <app-icon-name [iconName]="tab2Icon" [text]="tab2Text" [active]="tab2Active$|async" (click)="tabNameIconService.tab2Click()"></app-icon-name>
    <app-icon-name [iconName]="tab3Icon" [text]="tab3Text" [active]="tab3Active$|async" (click)="tabNameIconService.tab3Click()"></app-icon-name>
    <app-icon-name [iconName]="tab4Icon" [text]="tab4Text" [active]="tab4Active$|async" (click)="tabNameIconService.tab4Click()"></app-icon-name>
    <app-icon-name [iconName]="tab5Icon" [text]="tab5Text" [active]="tab5Active$|async" (click)="tabNameIconService.tab5Click()"></app-icon-name>
    <app-icon-name [iconName]="tab6Icon" [text]="tab6Text" [active]="tab6Active$|async" (click)="tabNameIconService.tab6Click()"></app-icon-name>


</mat-toolbar>
