.example-spacer {
  flex-shrink: 1;
  flex-grow: 1;
  flex-basis: auto;
}

$hPadding: 2rem;
.top-bar-container {
  padding-left: $hPadding;
  padding-right: $hPadding;
}
img.small_img_icon_rounded {
  width: 35px;
  height: 35px;
  object-fit: cover;
  border-radius: 50%;
}
