<!--
<div class="d-flex justify-content-start align-items-center top-bar-container">


  <h1 style="margin-bottom: 0">Admin</h1>
  &lt;!&ndash;  <span class="example-spacer"></span>&ndash;&gt;
  <app-icon-name [iconName]="tab1Icon" [text]="tab1Text" [active]="tab1Active"></app-icon-name>
  <app-icon-name [iconName]="tab2Icon" [text]="tab2Text" [active]="tab2Active"></app-icon-name>
  <app-icon-name [iconName]="tab3Icon" [text]="tab3Text" [active]="tab3Active"></app-icon-name>


</div>
-->

<mat-toolbar color="primary">
    <h1 style="margin-bottom: 0">Blog</h1>
    <!--  <span class="example-spacer"></span>-->
    <app-icon-name [iconName]="tab1Icon" [text]="tab1Text"
    ></app-icon-name>
    <app-icon-name [iconName]="tab2Icon" [text]="tab2Text"
    ></app-icon-name>
    <app-icon-name [iconName]="tab3Icon" [text]="tab3Text"
    ></app-icon-name>

    <!--  <button mat-button [matMenuTriggerFor]="menu" class="ml-auto">
        <img [src]="icon" alt="" class="small_img_icon_rounded">

        {{name}}
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="logout()">Logout</button>
      </mat-menu>-->
</mat-toolbar>
