<ion-content [fullscreen]="true">
    <app-top-bar #topBar style="position: fixed ;z-index: 10;width: 100%"
    ></app-top-bar>
    <div [style.margin-top.px]="topBarHeight">


        <div class="ion-padding my-container">
            <ion-grid>
                <ion-row>
                    <ion-col size-sm="7" size="12" class="p-0">

                        <mat-card>
                            <img [src]="img"
                                 alt="">
                        </mat-card>
                    </ion-col>

                    <ion-col size-sm="5" size="12" class="p-0 ">
                        <div class="ml-sm-2">
                            <mat-card class="mt-2 mt-sm-0">
                                <mat-card-title>About me</mat-card-title>
                                <mat-card-content>
                                    {{aboutMe}}
                                </mat-card-content>
                            </mat-card>
                            <mat-card class="mt-2">
                                <mat-card-title>Category</mat-card-title>

                                <mat-card-content>
                                    <mat-chip-list>

                                        <mat-chip color="accent" selected
                                                  *ngFor="let cat of categories" (click)="categoryClick(cat)">{{cat}}</mat-chip>
                                    </mat-chip-list>
                                </mat-card-content>
                            </mat-card>
                            <mat-card class="mt-2">
                                <mat-card-title>Tags</mat-card-title>
                                <mat-card-content>
                                    <mat-chip-list>
                                        <mat-chip color="primary" selected *ngFor="let tag of tags" (click)="tagClick(tag)">{{tag}}</mat-chip>
                                    </mat-chip-list>
                                </mat-card-content>
                            </mat-card>
                        </div>


                    </ion-col>


                </ion-row>
            </ion-grid>
        </div>


    </div>
</ion-content>
