<ion-content [fullscreen]="true">
    <app-top-bar #topBar style="position: fixed ;z-index: 10;width: 100%"
    ></app-top-bar>
    <div [style.margin-top.px]="topBarHeight">


        <div class="ion-padding my-container">
            <ion-grid>
                <ion-row>
                    <ion-col class="p-0">

                        <div *ngFor="let key of ((blogs$|async).keys)">

                            <div class="year py-2">
                                {{key}}
                            </div>

                            <mat-card *ngFor="let blog of (blogs$|async).yearBdsMap.get(key)" class="my-2" (click)="blogClick(blog)">
                                <mat-card-header>
                                    <mat-card-title>{{blog.title}}</mat-card-title>
                                    <mat-card-subtitle>{{blog.date|date}}</mat-card-subtitle>
                                </mat-card-header>
                            </mat-card>
                        </div>

                    </ion-col>


                </ion-row>
            </ion-grid>
        </div>


    </div>
</ion-content>
