@import "src/app/myVairable";
@import '~@angular/material/theming';

$p: mat-color($primary);
$a: mat-color($accent);


.candy-carousel {
  // Get the default hue for a palette.
  color: mat-color($primary);

  // Get a specific hue for a palette.
  // See https://material.io/archive/guidelines/style/color.html#color-color-palette for hues.
  background-color: mat-color($accent, 300);

  // Get a relative color for a hue ('lighter' or 'darker')
  outline-color: mat-color($accent, lighter);

  // Get a contrast color for a hue by adding `-contrast` to any other key.
  border-color: mat-color($primary, '100-contrast');
}


.title {
  color: $p;
  font-size: 1.2rem;
}

.number {
  color: $a;
  font-size: 1.2rem;
}
