<ion-content [fullscreen]="true">
    <app-top-bar #topBar style="position: fixed ;z-index: 10;width: 100%"
                 (resize)="onToBarResized($event)"></app-top-bar>
    <div [style.margin-top.px]="topBarHeight">


        <div class="ion-padding">
            <ion-grid>
                <ion-row>
                    <ion-col size-sm="7" size="12" class="p-0">
                        <div>
                            <div class="d-flex flex-row justify-content-between mb-1">
                                <div class="title">Blog</div>
                                <div><span>Total</span><span class="number">1</span><span>post</span></div>
                            </div>
                            <mat-card class="mx-2 mt-2 p-0" *ngFor="let blog of blogs">

                                <div matRipple class="p-2">
                                    <mat-card-content>
                                        <div class="blog_title">{{blog.title}}</div>
                                        <div class="blog_brife my-3">{{blog.brief}}</div>
                                        <ion-grid>
                                            <ion-row>
                                                <ion-col size="8" class="p-0">
                                                    <div class="d-flex flex-row align-items-center">
                                                        <div class="blog_author">{{blog.author}}</div>
                                                        <div class="blog_date mx-1">{{blog.date| date:'shortDate' }}</div>
                                                        <mat-icon class="mr-5" [matBadge]="blog.view"
                                                                  matBadgeColor="warn">
                                                            visibility
                                                        </mat-icon>
                                                    </div>
                                                </ion-col>
                                                <ion-col size="4" style="padding: 0">
                                                    <app-type [text]="blog.title"></app-type>
                                                </ion-col>


                                            </ion-row>
                                        </ion-grid>

                                        <!--    <div class="row baby">
                                                <div class="col-8" style="background: blue ;height: 30px;padding: 0" ></div>
                                                <div class="col-4" style="background: red;height: 30px;padding: 0"></div>
                                            </div>-->


                                    </mat-card-content>
                                </div>


                            </mat-card>

                        </div>
                    </ion-col>


                    <ion-col size-sm="5" size="12" class="p-0 mt-sm-0 mt-2">
                        <div class="ml-1">
                            <!--                    category-->
                            <mat-card>
                                <mat-card-header>
                                    <mat-card-title>Category</mat-card-title>
                                    <mat-card-subtitle><a href="">more</a></mat-card-subtitle>
                                </mat-card-header>

                                <mat-card-content>
                                    <ion-list>
                                        <ion-item matRipple *ngFor="let category of categories">
                                            <ion-label>{{category.name}}</ion-label>
                                            <button mat-flat-button color="accent">{{category.number}}</button>

                                        </ion-item>

                                    </ion-list>
                                </mat-card-content>
                            </mat-card>
                            <!--                    Tags-->
                            <mat-card class="mt-2">
                                <mat-card-header>
                                    <mat-card-title>Tags</mat-card-title>
                                    <mat-card-subtitle><a href="">more</a></mat-card-subtitle>
                                </mat-card-header>

                                <mat-card-content>
                                    <mat-chip-list aria-label="Fish selection">


                                        <button mat-flat-button color="primary" class="m-1"
                                                *ngFor="let tag of tags">{{tag.name}}</button>


                                    </mat-chip-list>
                                </mat-card-content>
                            </mat-card>

                            <!--                    Suggestions-->
                            <mat-card class="mt-2">
                                <mat-card-header>
                                    <mat-card-title>Suggestions</mat-card-title>
                                    <mat-card-subtitle><a href="">more</a></mat-card-subtitle>
                                </mat-card-header>

                                <mat-card-content>
                                    <mat-chip-list aria-label="Fish selection">


                                        <a href="*" class="m-1"
                                           *ngFor="let tag of tags">{{tag.name}}</a>


                                    </mat-chip-list>
                                </mat-card-content>
                            </mat-card>
                        </div>

                    </ion-col>
                </ion-row>
            </ion-grid>
        </div>


    </div>
</ion-content>
